.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  text-align: center;
}

.App section {
  width: 100%;
}

.App-search form input {
  border: 1px solid #34495e;
  border-radius: .5rem;
  font-size: calc(10px + 1vmin);
  margin: 1.5rem;
  max-width: 75%;
  padding: .5rem;
  width: 25%;
}

.App-disclaimer p {
  font-size: 1rem;
  opacity: .5;
}
